body {
  background-color: #18100d;
  background-image: url(/assets/images/logo-star.svg), url(/assets/images/bg-wood-dark.jpg);
  background-repeat: no-repeat,repeat;
  background-position: right bottom,center 110px;
  background-size: 120%,1000px;
  >div {
    >div {
      >div {
        >main {

        }
      }
    }
  }
}
