#carousel-main {
    background:url(/assets/images/backgrounds/bg-hero-bikepath.jpg) no-repeat top right;
    background-size: auto 20vh;
    padding-top:20vh;
    margin-top:-22px;
    margin-bottom: ($grid-gutter-width);
    @include media-breakpoint-up(sm){
        background-size: auto auto;
        padding-top:310px;
    }
    .slick-slide {
        // height: 310px;
    }
    .slick-prev {
        left: rem(10px);
    }
    .slick-next {
        right: rem(10px);
    }
    .slick-dots {
        bottom: rem(-10px);
        li {
            button {
                &:before {
                    color: $white;
                    opacity:0.6;
                }
            }
        }
        li.slick-active {
            button {
                &:before {
                    opacity:1;
                }
            }
        }
    }

    .slick-slider {
        margin-top:-22px;
    }

    .carousel-content {
        
        >div {
            @include s-wood-layer;
            >div {
                min-height: rem(440px);
                @include media-breakpoint-up(sm){
                    min-height: rem(215px);
                    display: flex;
                    text-align: left;
                    justify-content: center;
                    align-items: center;
                }
                .carousel-image {
                    text-align: center;
                    img {
                        display: inline;
                    }
                }
                .carousel-text {
                    max-width: rem(640px);
                    h3 {
                        text-align: center;
                        @include media-breakpoint-up(sm){
                            text-align: left;
                        }
                    }
                }
                .carousel-image,
                .carousel-text {
                    padding: ($grid-gutter-width)  ;
                }
                .carousel-cta {
                    >a {
                        @include m-button;
                        @include s-text-size(22px);
                        @include media-breakpoint-up(sm){
                            @include s-text-size(14px);
                        }
                    }
                }
            }
        }
    }
}