body {
    >div {
        overflow:hidden;
        position: relative;
        min-height: 100vh;
        &:before {
            @include s-bg-wood();
            content: "";
            position:absolute;
            top:50%;
            left:50%;
            width: 2000%;
            height: 2000%;
            z-index: -1;
            transform: translate(-50%,-50%) rotate(30deg);
        }
        
    }
    
    
    
    overflow-x: hidden;
    position: relative;
    main#content {
        @include media-breakpoint-up(sm){
            padding-bottom: rem(150px);
        }
    }
}